{% extends 'base.html.twig' %}
{# templates/contact/index.html.twig #}
{% block body %}
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>
        </tr>
        <tr>
            <td>Sopranos</td>
            <td>ROC Mondriaan Tinwerf Den Haag</td>
            <td>+31617631457</td>
        </tr>
    </table>
{% endblock %}